<hgroup class="hgroup">
	<h1 class="title">Rhythm</h1>
	<p class="tagline">A leading-based spacing system.</p>
</hgroup>

<style>
	.hgroup {
		text-align: center;
	}

	.title {
		font-size: var(--font-size__title);
		font-weight: normal;
		letter-spacing: -0.03em;
	}

	.tagline {
		margin-block-start: gapRelative(2.75);
		font-size: var(--font-size__tagline);
		line-height: var(--typography__leading--tight);
	}
</style>
