---
interface Props {
	title: string
	tagline: string
}

const { title, tagline } = Astro.props
---

<hgroup class="hgroup">
	<h1 class="title">{title}</h1>
	<p class="tagline">{tagline}</p>
</hgroup>

<style>
	.hgroup {
		text-align: center;
	}

	.title {
		font-size: var(--font-size__title);
		font-weight: normal;
		letter-spacing: -0.03em;
	}

	.tagline {
		max-inline-size: 90%;
		margin-block-start: gapRelative(2.75);
		margin-inline: auto;

		font-size: var(--font-size__tagline);
		line-height: var(--typography__leading--tight);
	}
</style>
