<div
	class:list={['content', Astro.props.class]}
	{...Astro.props}
>
	<slot />
</div>

<style>
	.content {
		hyphens: auto;

		:where(& > *) {
			grid-column: 2;
		}

		h2 {
			margin-block-start: gap(3);
			font: inherit;
			font-weight: bold;
		}

		p {
			margin-block-start: gap(2);

			h2 + & {
				margin-block-start: gap(1);
			}
		}

		ul {
			padding-inline-start: gap();

			li {
				margin-block-start: gap(1.5);
			}
		}

		pre {
			margin-block-start: gap(2);

			h2 + & {
				margin-block-start: gap(1);
			}

			p + & {
				margin-block-start: gap(1.25);
			}

			& + & {
				margin-block-start: gap(0.5);
			}
		}

		aside {
			margin-block-start: gap(2);
			font-size: var(--font-size__caption);
			color: var(--color__foreground--muted);

			pre + & {
				margin-block-start: gap();
			}

			p:first-child {
				margin-block-start: 0;
			}

			p:not(:first-child) {
				margin-block-start: gap();
			}
		}
	}
</style>
